.user-info{
    flex-grow: 1;
    text-align: center;
    height: max-content;
    align-items: center;
    align-content: center;
    align-self: center;
}

.intro {
    font-size: 2.2rem;
    font-weight: 800;
    margin-bottom: 0.1%;
}

.username{
    font-size: 2.8rem;
    margin-bottom: 0.1%;
}

.username::before{
    content: "Tôi là";
    font-size: 1.4rem;
    position: relative;
    top: -1rem; 
    margin-right: 0.5rem;
}

.web-summary{
    font-size: 1.1rem;
    color: gray;
    margin-bottom: 1%;
}

.more{
    flex-grow: 1;
    text-align: center;
}
