.pause{
    display: block;
    text-align: center;
    align-self: center;
}

#projects{
    width: 100%;
    margin: 0.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    align-self: center;
}

.project-card{
    margin: 1rem;
    width: 90%;
    height: 240px;  
    border: 1px solid whitesmoke;
    border-radius: 8px;
    overflow: hidden;
    flex-grow: 0;
    /* grid-area: auto; */
    padding: 15px;
}

.crad-title{
    width: 100%;
    padding: auto;
    word-wrap: break-word;
    max-height: 25%;
    height: 25%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.lang > div{
    display: inline-block;
    padding: 0px 4px 4px 4px;
    border-radius: 4px;
    font-size: 0.8rem;
    background-color: rgb(74, 74, 74);
}
.lang::before{
    content: "Ngôn ngữ";
    margin-right: 0.3rem;
}

.source{
    display: inline;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    text-decoration: underline;
    color: whitesmoke;
    background-color: rgb(27, 27, 27);
    font-size: 0.7rem;
}
