*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

html{
    font-size: 20px;
    background-color: rgb(17, 16, 16);
    color: whitesmoke;
}

body{
    height: 100vh;
}

.header{
    height: 5vh;
}

.footer{
    height: 15vh;
    position: relative;
    bottom: 0;
    left: 0;
}

input[type="button"],
button {
    padding: 8px 18px;
    border-radius: 8px;
    font-size: 0.9rem;
    margin-top: 20px;
    background-color: #2c2c2c;
    border: 1px solid #444;
    color: whitesmoke;
    cursor: pointer;
    text-decoration: none;
}

input[type="button"]:hover,
button:hover {
    background-color: #3a3a3a;
}

a{
    text-decoration: none;
    color: currentColor;
}

#container{
    min-height: 80vh;
    padding: 2%;
}

.col{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.split-line{
    background-color: black;
    width: 1px;
}

.label{
    font-size: 1.6rem;
    color: whitesmoke;
    align-items: center;
    align-content: center;
    align-self: center;
    margin: 1rem;
    width: calc(100% - 2rem);
    text-align: center;
    grid-column: 1 / -1;
}